<div data-role="page" data-url="<%= Rho::RhoConfig.start_path %>/">

  <div data-role="header" data-position="inline">
    <h1>Darryn's Test App</h1>
  </div>

  <div data-role="content">
    <ul data-role="listview">
      <li><a href="BarcodeTest">Barcode Tests</a></li>
      <li><a href="NetworkTest">Network Tests</a></li>
      <li><a href="SystemTest">System Tests (RE1)</a></li>
      <li><a href="IndicatorsTest/indicatorsTest.htm">Indicators Tests</a></li>
      <li><a href="KeyCaptureTest/keyCaptureTest.htm">KeyCapture Tests</a></li>
      <li><a href="CameraTest/cameraTest.htm">Camera Tests</a></li>
      <li><a href="DpxTest/dpxTest.htm">DPX Tests</a></li>
    </ul>
  </div>

</div>
